APP_NAME="Multi-Vendor Inventory System"
APP_VERSION="1.0.0"
DEBUG=True
DATABASE_URL=postgres://###########B@pg-86341f8-inventory-managementv.c.aivencloud.com:12929/inventory_db?sslmode=require
API_V1_PREFIX=/api/v1